<div class="container">
  <div class="row">
    <div class="col">
      <mat-card>
        <h1>Update User <mat-icon>how_to_reg</mat-icon></h1>

        <form *ngIf="user" (ngSubmit)="updateUser()">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Username</mat-label>
            <input
              [disabled]="userRole === 'ADMIN'"
              name="username"
              [(ngModel)]="user.username"
              type="text"
              matInput
              placeholder="Enter username"
            />
            <mat-hint>Username must be unique</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>First Name</mat-label>
            <input
              name="firstName"
              [(ngModel)]="user.firstName"
              type="text"
              matInput
              placeholder="Enter first name"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Last Name</mat-label>
            <input
              name="lastName"
              [(ngModel)]="user.lastName"
              type="text"
              matInput
              placeholder="Enter last name"
            />
          </mat-form-field>

          <div class="mb-3">
            <mat-radio-group name="gender" [(ngModel)]="user.gender">
              <mat-radio-button class="me-3" [value]="'male'" checked="checked">
                Male
              </mat-radio-button>
              <mat-radio-button [value]="'female'"> Female </mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input
              name="email"
              [(ngModel)]="user.email"
              type="email"
              matInput
              placeholder="Enter email address"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Phone Number</mat-label>
            <input
              name="phone"
              [(ngModel)]="user.phone"
              type="text"
              matInput
              placeholder="Enter phone number"
              onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
              maxlength="10"
            />
          </mat-form-field>

          <div>
            <button type="submit" mat-raised-button color="primary">
              Update
            </button>
            <button
              (click)="goBack()"
              type="button"
              mat-raised-button
              color="accent"
              class="ms-3"
            >
              Back
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
