<mat-card *ngIf="user">
  <h2>Profile Details</h2>
  <mat-card-content>
    <mat-card>
      <img
        *ngIf="user.gender == 'male' && user.profile == 'default.png'"
        src="assets/images/male-{{ user.profile }}"
        alt=""
        class="p-1 profile-image"
      />
      <img
        *ngIf="user.gender == 'female' && user.profile == 'default.png'"
        src="assets/images/female-{{ user.profile }}"
        alt=""
        class="p-1 profile-image"
      />
      <img
        *ngIf="user.profile != 'default.png'"
        src="assets/images/{{ user.profile }}"
        alt=""
        class="p-1 profile-image"
      />
      <table class="table table-hover">
        <tbody>
          <tr *ngIf="user.username">
            <th>Username :</th>
            <td>
              <i>{{ user.username }}</i>
            </td>
          </tr>
          <tr *ngIf="user.firstName">
            <th>Name :</th>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
          </tr>
          <tr *ngIf="user.email">
            <th>Email :</th>
            <td>{{ user.email }}</td>
          </tr>
          <tr *ngIf="user.phone">
            <th>Phone :</th>
            <td>{{ user.phone }}</td>
          </tr>
          <tr>
            <th>Role :</th>
            <td>{{ user.authorities[0].authority }}</td>
          </tr>
          <tr>
            <th>Status :</th>
            <td>{{ user.enabled ? "ACTIVE" : "NOT_ACTIVE" }}</td>
          </tr>
        </tbody>
      </table>

      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          routerLink="/admin-dashboard/update-user/{{ user.id }}"
        >
          Update
        </button>
        <button
          mat-raised-button
          color="accent"
          class="ms-2"
          type="button"
          (click)="goBack()"
        >
          Back
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>
