<div class="page">
    <div class="d-flex page__box p-3 mt-2">
      <h3>Dashboard</h3>
    </div>
    <div class="page__content shadow p-3">
      <div class="page__content-data text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-xl-3">
              <div class="card bg-c-blue order-card">
                <div class="card-block">
                  <h4 class="m-b-20">Total Members</h4>
                  <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{totalUser}}</span></h2>
                  <p class="m-b-0">Active Members<span class="f-right">{{totalUser}}</span></p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 col-xl-3">
              <div class="card bg-c-green order-card">
                <div class="card-block">
                  <h4 class="m-b-20">Total Events</h4>
                  <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{totalEvent}}</span></h2>
                  <p class="m-b-0">Active Events<span class="f-right">{{totalEvent}}</span></p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 col-xl-3">
              <div class="card bg-c-yellow order-card">
                <div class="card-block">
                  <h4 class="m-b-20">Total Contacts</h4>
                  <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>{{totalContact}}</span></h2>
                  <p class="m-b-0">Unseen Contacts<span class="f-right">{{totalContact}}</span></p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 col-xl-3">
              <div class="card bg-c-pink order-card">
                <div class="card-block">
                  <h6 class="m-b-20">Orders Received</h6>
                  <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                  <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
