<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About Us</a>
        <a class="nav-item nav-link" routerLink="members" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Members</a>
        <a class="nav-item nav-link" routerLink="gallery" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Gallery</a>
        <a class="nav-item nav-link" routerLink="events" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Events</a>
        <a class="nav-item nav-link" routerLink="attendance" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Attendance</a>
        <a class="nav-item nav-link" routerLink="contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
      </div>
    </div>
  </nav>
