          <div class="page">
            <div class="page__box p-3 mt-2">
              <div class="row d-flex">
                <div class="col-sm-6">
                  <h3>Event's</h3>
                </div>
                <div class="col-sm-6 d-flex flex-row-reverse">
                  <button
          routerLink="/admin-dashboard/events/add-details"
            mat-fab
            class="action_buttons"
            color="primary"
          >
            <mat-icon>add</mat-icon>Add
          </button>
          
                  <app-status-filter
                    (filterStatusData)="onFilterStatusData($event)"
                  ></app-status-filter>
                </div>
              </div>
            </div>
            <div class="page__content shadow p-3">
              <div class="page__content-data">
                <table
                  class="table table-striped table-hover table-sm table-bordered cms_table"
                  *ngIf="event.length > 0; else noData"
                >
                  <thead>
                    <tr>
                      <th class="cms_sm_col centeralign">
                        <label class="cms_label">S.N.</label>
                      </th>
                      <th class="cms_sm_col centeralign">
                        <label class="cms_label">Events</label>
                      </th>
                      <th>
                        <label class="cms_label">Status</label>
                      </th>
                      <th class="cms_sm_col centeralign">
                        <label class="cms_label">Actions</label>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let eve of event; let i = index">
                      <td class="cms_sm_col centeralign">
                        <label class="cms_label">{{ i + 1 }}</label>
                      </td>
                      <td class="cms_sm_col centeralign">
                        <label class="cms_label">{{
                          safeDescription(eve.content)
                        }}</label>
                      </td>
    
                      <!-- <td>
                        <label
                          class="cms_label"
                          [innerHTML]="testimonial?.description?.substring(0, 200)"
                        ></label>
                      </td> -->
                      <td>
                        <label class="cms_label">{{ eve?.status}}</label>
                      </td>
                      <td class="cms_sm_col centeralign">
        
                        <button
                          mat-raised-button
                          class="me-md-2"
                          color="primary"
                          type="button"
                          routerLink="/admin-dashboard/events/edit-details/{{ eve.id }}"
                        >
                          Edit Event
                        </button>
                        <button
                          mat-raised-button
                          color="warn"
                          type="button"
                          (click)="onDeleteEvent(eve?.id)"
                        >
                          Delete Event
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ng-template #noData>
                  <div class="d-flex justify-content-center">
                    <h4>No Record Found !!!</h4>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          
        